* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --offset-top: 50px;
  --offset-left: 50px;
}

#container {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}

#header {
  width: 100%;
  height: fit-content;
}

#header h2, h4 {
  margin-top: 10%;
  font-size: 8vw;
  font-family: 'Thasadith', sans-serif;
  color: #fff;
  text-align: center;
}

h2 {
  transform: skewX(-8deg);
}

#header h4 {
  font-size: 15px;
  margin: 1em 0;
  font-family: 'Aleo', serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}

#search {
  border: none;
  border-radius: 40px;
  padding: 2%;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  width: 42%;
  font-size: 24px;
  font-family: 'Thasadith', sans-serif;
  align-self: center;
  z-index: 4;
  transition: all 0.35s ease;
}

#search:hover {
  box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-bottom-right-radius: 3vw;
  border-top-left-radius: 3vw;
  transform: scale(1.05);
  transition: all 0.45s ease;
}
#search:focus {
  outline: none;
}

#background {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  overflow: hidden;
  
  z-index: -2;
  background: linear-gradient(#b72aff, #D176FF);
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.18;
  animation: move-particles 30s linear infinite;
}

.wrapper{
  background: #fcfcfc;
  z-index: 0;
  width: 39.8%;
  padding: 40px 15px 15px 15px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: -50px;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
}

#results {
  flex-direction: row;
  align-items: "center";
  overflow-x: scroll;
  width: 100%;
  display: flex;
}

h3 {
  font-family: 'Aleo', serif;
  display: flex;
  font-weight: 200;
  color: #313131;
  padding: 20px;
  border-right: 1px solid rgba(133,133,133,0.3);
}

h3:hover {
  display: flex;
  color: #fff;
  background-color: #b72aff;
  transition: all 0.45s ease;
  cursor: pointer;
}

.loader {
  display: flex;
  align-self: center;
  margin: 50px auto;
  height: 30px;
  width: 30px;
  background:#b41dff;
  border-radius: 50%;
  perspective: 0px;
  animation: loading 2s infinite ease;
}

@media (max-width: 768px), only screen {
  .wrapper {
    width: 60%;
    margin-top: -20px;
   
  }
  #results {
    flex-direction: column;
  }
  h3 {
    border: none;
    border-top: 1px solid rgba(133,133,133,0.3);
  }
  #search {
    width: 70%;
  }
}

@keyframes loading {
  0% {
    background:#b41dff;
    transform: rotate3d(0);
  }
  25%{
    background:#67357F;
    transform: rotate3d(1, 0, 0, 180deg);

  }
  50%{
    background:#CD69FF;
    transform: rotate3d(0, 0, 1, -180deg);
    
  }
  75% {
    background:#9017CC;
    transform: rotate3d(0, 1, 0, 180deg);
    
  }
  100% {
    background:#B41DFF;
    transform: rotate3d(0);
  }
}



@keyframes move-particles {
  100% {
    margin-left: var(--offset-left);
    margin-top: var(--offset-top);
  }
}








