* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#B72AFF, #D176FF);
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}

#header {
  width: 100%;
  height: fit-content;
}

#header h2, h4 {
  margin-top: 10%;
  font-size: 8vw;
  font-family: 'Thasadith', sans-serif;
  color: #fff;
  text-align: center;
}

#header h4 {
  font-size: 15px;
  margin: 1em 0;
  font-family: 'Aleo', serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}

#search {
  border: none;
  border-radius: 40px;
  padding: 2%;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  width: 40%;
  font-size: 15px;
  font-family: 'Aleo', serif;
  align-self: center;
  transition: all 0.35s ease;
}

#search:hover {
  box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  transition: all 0.45s ease;
}
#search:focus {
  outline: none;
}

.particle{
  position: absolute;
  display: block;
  border-radius: 50%;
}

